.header__burger {
    width: 28px;
    height: 2px;
    background-color: $blacks;
    border-radius: 5px;
    position: relative;
    &-link {
        display: none;
        height: 30px;
        align-items: center;
        justify-content: center;
        z-index: 500;
        @include tablet() {
            display: flex;
        }
        @include phone() {
            display: flex;
        }
    }
    &::before {
        content: "";
        display: block;
        width: 28px;
        height: 2px;
        background-color: $blacks;
        border-radius: 5px;
        position: absolute;
        top: -7px;
        transition: 0.5s;
    }
    &::after {
        content: "";
        display: block;
        width: 28px;
        height: 2px;
        background-color: $blacks;
        border-radius: 5px;
        position: absolute;
        top: 7px;
        transition: 0.5s;
    }
}
.header__burger-link_active {
    .header__burger {
        background: transparent;
    }
    .header__burger::before {
        top: 0;
        transform: rotate(45deg);
    }
    .header__burger::after {
        top: 0;
        transform: rotate(-45deg);
    }
}